version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network

  redis:
    image: redis:6.2.1
    ports:
      - "6379:6379"
    networks:
      - flink-network
      - kafka-network

  jobmanager:
    image: flink:1.17.2-scala_2.12
    ports:
      - "8081:8081"
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    env_file:
      - .env
    command: jobmanager
    networks:
      - flink-network
      - kafka-network

  taskmanager:
    image: flink:1.17.2-scala_2.12
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 1
    env_file:
      - .env
    command: taskmanager
    depends_on:
      - jobmanager
    networks:
      - flink-network
      - kafka-network

  slack-producer:
    image: openjdk:21
    volumes:
      - ./slack-integration/build/libs:/usr/src/myapp
    working_dir: /usr/src/myapp
    command: [ "java", "-cp", "slack-integration-1.0-all.jar", "com.createFuture.SlackIntegrationApp" ]
    env_file:
      - .env
    depends_on:
      - kafka
    networks:
      - kafka-network

  flask-consumer:
    build: ./python/flask-consumer
    ports:
      - "5001:5001"
    depends_on:
      - kafka
    networks:
      - kafka-network

networks:
  flink-network:
    driver: bridge
  kafka-network:
    driver: bridge
